{
    "presets": ["@babel/preset-react", ["@babel/preset-env", {"modules": "auto"}]],
    "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-syntax-async-generators",
    "add-module-exports",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-function-bind",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties",{ "loose": false }],
    "@babel/plugin-syntax-export-extensions",
    "@babel/plugin-syntax-flow",
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-react-display-name",
    "transform-do-expressions",
    "react-hot-loader/babel",
    ["babel-plugin-styled-components", { "ssr": false}],
    "@babel/transform-runtime"
]
}